<mat-card class="result">
  <mat-card-header>
    <mat-card-title>{{ item?.name }}</mat-card-title>
    <span class="fill-remaining-space"></span>
    <div *ngIf="!quantity">
      <button mat-raised-button color="primary" (click)="onOrder()">Add</button>
    </div>
    <div *ngIf="quantity">
      <button mat-mini-fab color="primary" class="edit-margin" aria-label="edit cart item" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div *ngIf="quantity">
      <button mat-mini-fab color="primary" aria-label="remove from cart" (click)="onRemove()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <img class="image" [src]="item?.imageUrl" width="128" height="128" />

    <div *ngIf="!quantity">
      <mat-label>Description: </mat-label>
      <span>{{ item?.description }}</span>
    </div>
    <div>
      <mat-label>Price: </mat-label>
      <span class="item-price">{{ item?.price }}</span>
    </div>
  </mat-card-content>

  <div *ngIf="quantity">
    <mat-card-footer>
      <mat-label>Quantity: </mat-label>
      <span class="item-price">{{ quantity }}</span>
    </mat-card-footer>
  </div>
  <div *ngIf="!quantity">
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <mat-select [(value)]="orderQuantity">
        <mat-option *ngFor="let count of numbers" [value]="count">
          {{ count }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-card>
