<form [formGroup]="form">
    <p>
        <mat-form-field appearance="outline" class="same-line-spacer">
            <mat-label>Card Number</mat-label>
            <input matInput placeholder="Card Number" formControlName="firstName" />
            <mat-error *ngIf="form.get('firstName')?.invalid">Card Number is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Expiration Date</mat-label>
            <input matInput placeholder="Expiration Date (MM/YY)" formControlName="lastName" />
            <mat-error *ngIf="form.get('lastName')?.invalid">Expiration Date is required.</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Security Code</mat-label>
            <input matInput placeholder="Security Code" formControlName="address" />
            <mat-error *ngIf="form.get('address')?.invalid">Security Code is required.</mat-error>
        </mat-form-field>
    </p>
</form>
