<mat-expansion-panel [expanded]="(step$ | async) === stepId" (opened)="opened" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-description>
            Account
            <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <app-login (LoggedIn)="handle($event)" [showLogout]=false></app-login>

    <mat-action-row>
        <button mat-button color="primary" (click)="back">Back</button>
        <button mat-button color="primary" (click)="next" [disabled]="!loggedIn">Next</button>
    </mat-action-row>
</mat-expansion-panel>
