<mat-accordion class="result">
    <mat-expansion-panel expanded hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Account
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-login (LoggedIn)="handle($event)" [showLogout]=false></app-login>

        <mat-action-row>
            <button mat-button color="primary" (click)="prevStep()">Back</button>
            <button mat-button color="primary" (click)="nextStep()" [disabled]="!loggedIn">Next</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
