<mat-card class="result">
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="form.get('name')?.invalid">Name is required.</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput type="text" #address placeholder="Search for a location" formControlName="address"
            autocomplete="off" />
          <mat-error *ngIf="form.get('address')?.invalid">Address is required.</mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="save()" class="button-space">Save</button>
      <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
