<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/menu'" (click)="sidenav.toggle()"> Menu </a>
      <a mat-list-item [routerLink]="'/order-history'" (click)="sidenav.toggle()"> Order History </a>

      <!-- only show for admin -->
      <a mat-list-item [routerLink]="'/edit-menu'" (click)="sidenav.toggle()"> Edit Menu </a>
      <a mat-list-item [routerLink]="'/order-dashboard'" (click)="sidenav.toggle()"> Order Dashboard
      </a>
      <!-- only show for admin -->

      <a mat-list-item [routerLink]="'/about'" (click)="sidenav.toggle()"> About </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
