<mat-card class="result">
  <mat-card-title>Menu</mat-card-title>
  <mat-card-content>
    <div class="menu-item" [hidden]="!menu?.isActive" *ngFor="let item of menu?.items">
      <app-menu-item-viewer #viewer [hidden]="!item.isActive" [item]="item" (addItem)="onAdd($event)"
        (deleteItem)="onDelete($event)" [onMenu]="true">
      </app-menu-item-viewer>
      <p></p>
    </div>
    <div [hidden]="menu?.isActive">
      <p>The menu is not currently available.</p>
    </div>
  </mat-card-content>
</mat-card>
<p class="card-spacer"></p>
