<mat-card class="result">
  <mat-card-header>
    <mat-card-title>Cart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="menu">
      <div class="menu-item" *ngFor="let item of orders">
        <app-menu-item-viewer #viewer [item]="item.item" [quantity]="item.quantity">
        </app-menu-item-viewer>
        <p></p>
      </div>
    </section>
    <p></p>
    <section>
      <mat-label>Total: </mat-label>
      <span>{{ getTotal() }}</span>
    </section>
    <p></p>
    <section>
      <form [formGroup]="form" (ngSubmit)="onOrder()">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="form.get('name')?.invalid">Name is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" />
            <mat-error *ngIf="form.get('address')?.invalid">Address is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button color="primary" type="submit" class="button-space">Order</button>
          <button mat-raised-button color="primary" (click)="cancel()">Clear</button>
        </p>
      </form>
    </section>
  </mat-card-content>
</mat-card>
