<mat-card class="result">
  <mat-card-header>
    <mat-card-title>
      Order
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="menu-item" *ngFor="let item of orders">
        <app-menu-item-viewer #viewer [item]="item.item" [quantity]="item.quantity" (addItem)="onEdit($event)"
          (deleteItem)="onDelete($event)" [imageSize]="64">
        </app-menu-item-viewer>
        <p></p>
      </div>
    </div>
    <div [align]="'end'">
      <mat-label>Total: </mat-label>
      <span class="text-bold">{{ getTotal() | currency }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions [hidden]="checkout" [align]="'end'">
    <button mat-button color="primary" (click)="goToCheckout()">Checkout</button>
  </mat-card-actions>
</mat-card>
<p class="card-spacer"></p>
