<mat-card class="editor">
  <mat-card-header>
    <mat-card-title>Edit Menu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="edit-menu-row">
      <form (ngSubmit)="onSave()" #editForm="ngForm">
        <p>
          <mat-checkbox class="example-margin" [(ngModel)]="active" name="active">Active</mat-checkbox>
        </p>
        <p>
          <mat-label>Open</mat-label>
          <ngx-mat-timepicker #pickerOpen [enableMeridian]="true" [(ngModel)]="menuOpen" name="open">
          </ngx-mat-timepicker>
        </p>
        <p>
          <mat-label>Close</mat-label>
          <ngx-mat-timepicker #pickerClose [enableMeridian]="true" [(ngModel)]="menuClose" name="close">
          </ngx-mat-timepicker>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Delivery Radius (MI)</mat-label>
            <input matInput placeholder="0" type="number" pattern="[0-9]*" [(ngModel)]="radius" name="radius" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Business Address</mat-label>
            <input matInput type="text" #address placeholder="Search for a location" autocomplete="off"
              [(ngModel)]="businessAddress" name="businessAddress" />
          </mat-form-field>
        </p>
      </form>
    </div>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="primary" class="button-space">Save</button>
        <button mat-raised-button color="primary">Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<p></p>
<mat-card class="editor">
  <mat-card-header>
    <mat-card-title>Edit Menu Items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="add()" class="button-space">Add</button>
      <button mat-raised-button color="primary" (click)="edit()" class="button-space"
        [disabled]="!selectedItem">Edit</button>
      <button mat-raised-button color="primary" [disabled]="!selectedItem" (click)="deleteItem()">Delete</button>
    </div>
    <mat-selection-list #menuList [multiple]="false" (selectionChange)="selectionChange($event)">
      <mat-list-option *ngFor="let item of menu?.items" [value]="item">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<p style="height: 65px;"></p>
