<mat-card class="editor">
  <mat-card-title>Edit Menu</mat-card-title>
  <mat-card-subtitle>Menu Items</mat-card-subtitle>
  <mat-card-content>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
      <button mat-raised-button color="primary" class="button-space">Delete</button>
    </div>
    <mat-selection-list #menuList [multiple]="false" (selectionChange)="selectionChange($event)">
      <mat-list-option *ngFor="let item of menu.items" [value]="item">
        {{ item.name }}
      </mat-list-option>
      <!-- <button mat-list-item>Add</button> -->
    </mat-selection-list>
  </mat-card-content>
</mat-card>
