<ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
</ng-container>

<mat-stepper #stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step #loginStep label="Account">
        <app-login (LoggedIn)="completeLogin()" [showLogout]=false></app-login>
    </mat-step>

    <mat-step #orderTypeStep label="Order Type">
        <div class="container" *ngIf="!orderType">
            <mat-card class="button-card" (click)="selectDelivery()">
                <mat-card-title>Delivery</mat-card-title>
            </mat-card>
            <mat-card class="button-card" (click)="selectPickup()">
                <mat-card-title>Pickup</mat-card-title>
            </mat-card>
        </div>
        <ng-container *ngIf="orderType === 1">
            <div class="container">
                <app-billing-info #delivery [isDelivery]="true" (next)="next()" (back)="resetOrderType()">
                </app-billing-info>
            </div>
        </ng-container>
    </mat-step>

    <mat-step #billInfoStep label="Billing Information">
        <app-billing-info #billing (next)="next()" (back)="back()"></app-billing-info>
    </mat-step>

    <mat-step #payInfoStep label="Payment Information">
        <app-payment-info #payment (next)="next()" (back)="back()"></app-payment-info>
    </mat-step>

</mat-stepper>
<p class="card-spacer"></p>
