<mat-card class="result">
  <mat-card-title>{{ item?.name }}</mat-card-title>
  <mat-card-content>
    <img class="image" [src]="item?.imageUrl" width="128" height="128" />

    <div>
      <mat-label>Description: </mat-label>
      <span>{{ item?.description }}</span>
    </div>
    <div>
      <mat-label>Price: </mat-label>
      <span>{{ item?.price }}</span>
    </div>
  </mat-card-content>

  <div *ngIf="readOnly">
    <mat-card-footer>
      <mat-label>Order: </mat-label>
      <span>{{ quantity }}</span>
    </mat-card-footer>
  </div>
  <div *ngIf="!readOnly">
    <mat-card-footer>
      <mat-checkbox class="example-margin" [checked]="selected"> Order </mat-checkbox>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput type="numeric" />
      </mat-form-field>
    </mat-card-footer>
  </div>
</mat-card>
