<mat-card class="editor">
  <mat-card-header>
    <mat-card-title>Edit Menu Item</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <form [formGroup]="form" (ngSubmit)="onSave()">
        <p>
          <mat-checkbox class="active-box" formControlName="isActive">Active</mat-checkbox>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" autocomplete="off" />
            <mat-error *ngIf="form.get('name')?.invalid">Name is required.</mat-error>
          </mat-form-field>
        </p>
        <div>
          <div class="file-upload">
            <p [hidden]="fileName">No image uploaded yet.</p>
            <img [hidden]="!fileName" class="image" [src]="fileName" width="128" height="128" />
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.value='';fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <div class="progress">
            <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">
            </mat-progress-bar>
            <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
          </div>
        </div>
        <p></p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
              placeholder="Description" formControlName="description" autocomplete="off"></textarea>
            <mat-error *ngIf="form.get('description')?.invalid">Description is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="0.0" type="number" formControlName="price" pattern="[0-9.]*"
              autocomplete="off" />
            <mat-error *ngIf="form.get('price')?.invalid">Price is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Available Quantity</mat-label>
            <input matInput placeholder="0" type="number" formControlName="available" pattern="[0-9]*"
              autocomplete="off" />
            <mat-error *ngIf="form.get('available')?.invalid">Available Quantity is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Ingredients</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
              placeholder="Ingredients" formControlName="ingredients" autocomplete="off"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Nutritional Info</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
              placeholder="Nutritional Info" formControlName="nutrition" autocomplete="off"></textarea>
          </mat-form-field>
        </p>
        <div>
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit" class="button-space">Save</button>
          <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </section>
  </mat-card-content>
</mat-card>
<p style="height: 60px;"></p>
