table {
    width: 100%;
}
.results-table {
    overflow: auto;
}
.button-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.button-margin {
    margin-right: 5px;
}

.search-result {
    cursor: pointer;
}
